    <div class="container-fluid back m-0 p-0">
        <div class="row h-100 d-flex justify-content-center align-content-center m-0" *ngIf='!moreinfo'>
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center align-content-center">
                <div class="col-10 weather-info">
                <app-home></app-home>
                <div class="d-flex justify-content-center">
                    <button [routerLink]="'/moredetails'" type="button" class="btn btn-info mb-4" (click)='MoreInfo()'>More Details</button>
                   </div> 
                </div>
            </div>
        </div>            
        <router-outlet></router-outlet>
    </div>
    