$dark:#000
.icons
    height:15rem

.back
    height:100vh
    width: 100vw

.weather-info
    background: transparentize($dark, 0.3)
    color:#fff

.city
    font-size: 4rem

.temp
    font: 2em sans-serif

.description
    font: 1.5rem sans-serif